alembic
black
click
cryptography
deepdiff
flake8
flask
flask-cors
flask-smorest
git+https://github.com/Johnson-Gage-Inspection-Inc/qualer-sdk-python.git@v3.0b0#egg=qualer_sdk
isort
marshmallow
msal
office365
openpyxl
pandas
pre-commit
psycopg2-binary
pydantic
pyjwt
pytest
pytest-cov
pytest-mock
python-dotenv
requests
sqlalchemy
xlrd